body {
    font-family: "Open Sans", sans-serif;
    background-color:rgb(194, 237, 240);
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #534d7e;
}

footer {
    background-image: linear-gradient(#3d3a3d, rgb(105, 83, 109));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #9d84b6, #7d8882, #4eebc3);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #4d4c4e;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #02221d;
}